/* TODO Common */
:root {
  --bg-color: #01aef0;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  /* font-size: 62.5%; */
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  overflow: hidden; /* Không cuộn */
  /* hoặc: */
  overflow: scroll; /* Vẫn cuộn được bằng chuột/trackpad */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Button */
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn .icon {
  font-size: 20px;
}

.menu-btn {
  display: flex;
  font-weight: 800;
}

/* Title */
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.lv2-title {
  font-size: 26px;
  text-decoration-line: underline;
}
.lv3-title {
  font-size: 20px;
}

/* Top of Mobile */
.mobile-btn {
  background-color: #da453f;
  color: #fff;
}

/* Section of Top */
.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #da453f; */
}
.section-top {
}

.section-main {
  margin-top: 30px;
}

/* TODO: Plugin */
.plugin {
  position: fixed;
  right: 0;
  bottom: 10%;
  background-color: #fff;
  opacity: 1;
  z-index: 1;
}

.plugin a {
  display: block;
  margin: 10px 5px;
  text-align: center;
}

.plugin a img {
  display: block;
  margin: auto auto;
}

.plugin a svg {
  margin: 0;
  padding: 0;
}

/* TODO: Main */
main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TODO: Header */
.header {
  width: 100%;
}

/* Top of Header */
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .img-wrap img {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #ccc;
  transition: 0.3s;
}
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
} */

/* TODO: Banner */
.banner {
  max-width: 100%;
  position: relative;
  background-color: #ccc;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  /* Giữ tỉ lệ khung hình mà không bị vỡ */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Giữ tỉ lệ khung hình mà không bị vỡ */
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Navigation */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: #da453f;
}

/* TODO: Category */
.category__item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.category__item-list .category__item {
  width: 266px;
  height: 266px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.category__item-list .product-title {
  position: absolute;
  width: 100%;
  background-color: #01aef0;
  bottom: 0;
}
.category__item-list .item__image {
  width: 100%;
}

.category__item .product-title {
  text-align: center;
  font-size: 20px;
}

/* TODO: Projects */
.project .project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.project .project_list .img-wrap {
  height: 376px;
  width: 266px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.project .img-wrap .img-date {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  font-size: 20px;
}

.project .img-wrap img {
  width: 100%;
}

.project .img-wrap .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: auto;
}

.project-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.image-list {
  display: none;
  margin-top: 10px;
}
.image-list img {
  max-width: 200px;
  margin: 5px;
  border-radius: 4px;
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.lightbox img {
  max-width: 100vw;
  max-height: 98vh;
}

.lightbox .counter {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 25px;
  font-weight: 300;
}
.lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.lightbox .btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.lightbox .prev-btn {
  left: 10px;
}
.lightbox .next-btn {
  right: 10px;
}

/* TODO: Review */
.review {
  font-family: "Open Sans", sans-serif;
}

.carousel .review-box .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
}

.testimonial .left .address {
  font-size: 10px;
  font-style: oblique;
}

.carousel-container {
  width: 100%;
  max-width: 1170px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel .review-box .left .address {
  font-size: 10px;
  font-style: oblique;
}

.carousel .review-box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 999px;
}

.carousel .review-box p {
  font-style: italic;
  margin-bottom: 10px;
}

.carousel .review-box .author {
  font-weight: bold;
}

.slide {
  display: flex;
  min-width: 100%;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.review-box {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 500px;
  display: flex;
}

.review-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.review-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.review-box p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* PC: Show 2 review boxes */
@media (min-width: 768px) {
  .review-box {
    max-width: calc(50% - 10px); /* 2 boxes with gap */
  }
}

/* Mobile: Show 1 review box */
@media (max-width: 767px) {
  .slide {
    justify-content: center;
  }

  .review-box {
    max-width: 100%;
  }

  .review-box:nth-child(2) {
    display: none; /* Hide second box on mobile */
  }
}

/* TODO: Footer */
.footer {
  background-color: var(--bg-color);
}
.footer .footer-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.footer .footer-list li {
  display: flex;
  align-items: center;
  color: #fff;
}
.footer .footer-list li a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-bottom {
  padding: 10px;
  background-color: #bfbba9;
  text-align: center;
}

.footer .footer-col li:not(:first-child) {
  margin-left: 10px;
  margin-top: 10px;
}

.footer .footer-col li:not(:first-child) .icon {
  margin-right: 5px;
}

.footer .footer-col li:first-child {
}

/* TODO: Display on Computer */
@media only screen and (min-width: 768px) {
  .container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
  /* Plugin */
  .plugin {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;
    border-radius: 5px;
  }
  .plugin .plugin__sms,
  .plugin .plugin__call {
    display: none;
  }
  .section_top {
    display: flex;
    align-items: center;
  }

  /* Header */
  .header {
    width: 100%;
  }

  .search-btn,
  .menu-btn {
    display: none;
  }

  .top_name {
    text-align: center;
  }

  .header_top .top_name h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #da453f;
  }

  .header_top .address {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 700;
    color: #205781;
  }

  .header_top .top_contact {
    display: flex;
    align-items: center;
  }

  .header_top .top_contact .icon {
    font-size: 50px;
    color: #da453f;
    margin-right: 10px;
  }

  .header_top .top_contact div {
  }

  .header_top .top_contact p {
    font-size: 18px;
    color: #205781;
  }

  .header_top .top_contact .tel {
    font-size: 27px;
    color: #da453f;
  }

  .header_top > .logo {
    height: 100px;
    width: auto;
  }

  /* Phần Navigation */
  .header_nav {
    background-color: #da453f;
    height: 55px;
    display: flex;
  }

  .header_nav .nav-child {
    margin: 0 10px 0;
  }

  .header_nav .nav-name {
    margin-left: 5px;
    font-weight: 900;
    color: white;
  }

  .nav-child {
    display: flex;
    align-items: center;
  }
}

/* TODO: Display on Mobile */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  /* Plugin */
  .plugin {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .plugin .topup_plugin {
    display: none;
  }

  .header_top .top_name,
  .header_top .top_contact,
  .header_nav,
  .menu-btn > p {
    display: none;
  }

  .header .header_top {
    display: flex;
    justify-content: space-between;
  }

  .header_top .logo {
    height: 60px;
  }

  .banner {
    aspect-ratio: 4 / 3;
    /* Tỉ lệ 4:3 khi trên điện thoại */
  }

  /* Project */
  .project .project_list {
    margin-top: 10px;
    justify-content: center;
    row-gap: 10px;
  }

  /* Footer */
  .footer-list {
    flex-direction: column;
    gap: 30px;
  }
  .footer li {
    display: flex;
    align-items: center;
    color: #fff;
  }
  /* Chọn các thẻ li trừ thẻ li tiêu đề */
  .footer .footer-col li:not(:first-child) {
    margin-left: 20px;
    margin-top: 10px;
  }

  .footer .footer-col li:not(:first-child) .icon {
    margin-right: 5px;
  }

  .footer .footer-col li:first-child {
    /* background-color: #FFCC2A; */
    padding: 5px 2px;
  }
  .footer .footer-col .col-title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  .footer-bottom {
    background-color: #bfbba9;
    text-align: center;
  }
  .footer-bottom > p {
    padding: 15px 0;
  }
}
